<!--Файл для страницы про карту dust 2 -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dust 2</title>


</head>
<body>
    {% extends 'base.html' %}

     {% block body %}
    <div class="container">
    <h1>Dust 2</h1>

     <div class="dust2">
         <nav class="toc">
             <h2>Содержание:</h2>
             <ol>
                <li><a class = "silochki_white" href="#pozicii_dust">Позиции на Dust 2</a>
                <li><a class = "silochki_white" href="#tactiki_dust_def">Тактика защищающейся стороны</a>
                <li><a class = "silochki_white" href="#tactiki_dust_atak">Стратегия атаки</a>
                <li><a class = "silochki_white" href="#smoki_dust">Смоки</a>
                <li><a class = "silochki_white" href="#flesh_dust">Флешки</a>
                <li><a class = "silochki_white" href="#molotov_dust">Молотовы</a>
             </ol>
         </nav>
         <br>
         <h2 id="pozicii_dust">Позиции на Dust 2</h2>
         <p class = "positions">
             <img src="static/img/dustmap.jpg" width="507" align=”left” border="0" alt="Позиции на Dust 2 en">
             <img src="static/img/dustmap_ru.jpg" width="515" align=”right” border="0" alt="Позиции на Dust 2 ru">
             <br>
         </p>

         <h2 id="tactiki_dust_def">Тактика защищающейся стороны</h2>
         <br>
         <h3>Отыгрыш мейн-снайпера</h3>
         Итак, главным звеном здесь является игрок на мидле. Можно сказать, что этот игрок – глаза и уши команды. Чаще всего эту точку занимает игрок с AWP, контролируя движение игроков атаки через центр карты. Почему игрок на мидле крайне важен? Потому что дает множество информации для своих тиммейтов. Он контролирует пальму, шорт, выход с нижней темки. Если вектор атаки лежит через шорт, то он моментально дает инфу, после которой совершается укрепление точки А. Также игрок мидла сам способен совершать быстрые перетяжки, являясь ключевым звеном при встрече атаки или при выбивании плента. Первое, что делает снайпер мидла – это просмотр Т-спавна на наличие снайпера. Ему представляется возможность сделать первый фраг раунда, обеспечив своей команде преимущество при защите плентов.
         Второй стороной по таймингу может быть чек шорта. Далее, если не было информации с длины, ему следует занимать позицию ближе к точке Б (на пристройке или окне) в ожидании прорыва мидла или выхода через темку. Это будет отличным подспорьем при защите. По мере вектора атаки необходимо замедлять продвижение противника, откидывая дым или огонь на предполагаемый вектор атаки соперника.
         <br>
         <br>
         <h3>Роли игроков шорта и длины</h3>
         Следующим важным элементом будет игрок длины. Как правило, информация по атаке через длину поступает сразу, поскольку террористы откидывают дым и флешки, позволяющие быстро ворваться на длину. При подобном развитии событий игрок на длине должен дать информацию и уйти в глубокую защиту на машину или в сам плент. К моменту наступления террористов помощь снайпера уже должна поступать с сити.
         При быстрой атаке через длину главной задачей защищающегося игрока является торможение террористов. Это необходимо для обеспечения плента дополнительной поддержкой.
         При подобных раскладах необходимо убедиться в наличии игроков атаки, что идут через зиг-заг. Предполагается, что игрок защиты максимально близко поджимает шорт до лестницы, а в момент получения информации спешит на помощь игроку длины, занимая позицию в пленте. При этом ему следует откинуть дым на позицию перед лестницей. Также этот игрок должен дать флешку для того, чтобы игрок длины мог совершить контрвыпад.
         <br>
         <br>
         <h3>Позиционирование защиты на точке Б</h3>
         Если вектор атаки террористов следует направлению точки Б, то им следует сделать все, чтобы сдержать атаку. Для это можно откинуть дым и молотов. Один игрок может располагаться за машиной, а другой на хедшоте или за большим ящиком. К моменту атаки предполагается, что игрок мидла будет уже в окне, а игрок с шорта будет контролировать выпад с нижней темки. Спецназ с длины может прочекать спавн террористов на наличие перетяжки под плент А. Дальше остается лишь дело за грамотным принятием атаки.
         <br>
         <br>

         <h2 id="tactiki_dust_atak">Стратегия атаки</h2>
         <br>
         Террористы могут последовать по направлению к точкам закладки бомбы следующими путями:<br>
         1. Длина<br>
         2. Шорт<br>
         3. Туннель<br>
         4. Мидл<br><br>
         Если тактика на раунд предполагает атаку А, то можно пойти тремя путями: полностью пойти на длину, полностью пойти на шорт, комбинировать шорт и длину.
         При совместном врыве через длину необходимо ослепить соперников, кинуть дым на старт, кросс, а также дать молотов на рекламу. Это максимально облегчит атаку. Далее остается дело за стрельбой. Можно оставлять одного человека контролировать поджим с длины, который расположится в боксе, в яме или за дверьми коробки. Один игрок должен глубоко мониторить шорт, чтобы дать необходимую информацию тиммейтам.<br>
         При любой атаке после того, как установлена бомба, необходимо бросать дополнительный дым, чтобы отыграть дополнительные 18 секунд от выбивания со стороны защиты. <br><br>
         Теперь рассмотрим атаку через шорт. Изначально необходимо кинуть дым в двери мидла, чтобы ограничить обзор игроку на той позиции. Далее следует быстрый врыв на лестницу с откидыванием огня в сам плент, чтобы максимально отодвинуть защиту. Также стоит кидать флешки и дым на просвет. Далее следует установка бомбы и контроль ключевых точек.<br><br>
         Возможен и парный заход с двух позиций. Допустим, 3 игрока бегут на длину, а двое на шорт. Действия в плане раскидок идентичные, только плюсом такой атаки будет служить быстрое устранение оппонентов, что просто потеряются при приеме атаки. <br><br>
         Атаку на Б плент можно также совершить разными способами. Есть непосредственная атака через темку, а есть выход через мидл или же соединение этих двух векторов.<br>
         Для атаки через туннель следует руководствоваться скоростью принятия решений и точной стрельбой, поскольку при врыве проход достаточно узкий. Можно откинуть пару флешек и кинуть при входе дым, закрывающий игроков за карандашом и на платформе. Сразу же стоит прочекать позицию за машиной, кинуть дополнительный дым на двери и окно. Это даст возможность спокойно поставить бомбу. <br>
         Следом стоит ждать ретейка, который следует принять закрыто. Один игрок должен контролировать туннель, заняв дальнюю платформу или поджав непосредственно саму темку. Один обязательно должен стоять или за карандашом или на заднем пленте. При ранних таймингах можно отстреливать игроков защиты через окно. Еще одной важной точкой будет являться машина. Крайне важно вовремя разменивать своих напарников по команде.<br>
         Что касается атаки через мидл. Самое главное убрать или отпугнуть снайпера защиты, бросив пару флешек и ворваться на позицию. Затем необходимо кинуть дым на сити, чтобы закрыть обзор с плента А. (Здесь следует опасаться подсадки, которую легко проверить. Игрок может прятаться над дымом слева или справа). Затем следует врыв на Б под флешки и последующая защита установленной бомбы.<br>
         Еще возможен вариант выхода через темку и мидл одновременно. Как и в случае с направлением под плент А, грамотное зонирование и хорошие тайминги приведут спецназ врасплох. <br><br>

         <h2 id="smoki_dust">Смоки</h2>
         Дымы являются неотъемлемой частью игры и используются обеими сторонами для сдерживания наступления, а также для сокрытия передвижения команды.<br><br>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/dpGrH8nlZ28" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <br>
         <br>

         <h2 id="flesh_dust">Флешки</h2>
         Световые гранаты используют для ослепления соперника и последующего совершения маневра. При удачном раскладе флешка способна ослепить противника на несколько секунд, давая вам большое преимущество. От того их использование является важной составляющей при раскидке плентов. <br><br>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/8RnP_P29iYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <br>
         <br>


         <h2 id="molotov_dust">Молотовы</h2>
         Ну и еще одним видом гранат, служащим хорошим подспорьем при раскидке, служат коктейли молотова. Они есть как у стороны атаки, так и у стороны защиты, за исключением того, что у спецназа данный вид гранаты стоит на $200 дороже. Коктейли молотова нужны для того, чтобы прогонять соперников с позиции, предоставляя больше открытого пространства для отыгрыша. <br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xvipM2oH9NI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <br>
         <br>
         Это все, что необходимо знать о карте Dust 2. Играйте и побеждайте вместе с командой.<br>


    </div>
    </div>
    {% endblock %}

</body>
</htmtml>