<!--Файл для форума -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>



<body>

    <!--{% extends 'base.html' %}-->
    {% block body %}

    <div class="container">
    <br>

    <div class="alert alert-info">
        <h2>{{ article.title }}</h2>
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/del" class="btn btn-danger">Удалить</a>

    </div>

</div>
{% endblock %}
</body>
</html>





