<!--Файл для форума -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block body %}
    <div class="container">

   <h1>Все статьи</h1>
   <a href="/create_post" >Создать</a><br>


   {% if articles|length > 0  %}
    {% for el in articles %}
    <div class="alert alert-info">
        <h2>{{ el.title }}</h2>
        <p><b>Дата: {{ el.date.date() }}</b></p>
        <a href = "/{{ el.id }}" class = "btn btn-warning">На страницу обсуждения</a>
    </div>

    {% endfor %}

    {% else %}
    <p>Тут пока что нет статей</p>
    {% endif %}


</div>
{% endblock %}
</body>
</html>